<div class="login-container">
    <form id="login-form" action="/account/login" method="post" >
        <div class="form-group">
            <label for="account_email">Email Address:</label>
            <br></br>
            <input type="account_email" id="account_email" name="account_email" required>
        </div>
        <div class="form-group">
            <label for="account_password">Password:</label>
            <br></br>
            <input type="account_password" id="account_password" name="account_password" required>
        </div>
        <p>Passwords must be minimum of 12 characters and include 1 capital letter, 1 number and 1 special character.</p>
        <button id="showpwd" type="">Show Password</button>
        <button type="submit">Login</button>
    </form>
    <h2>No account? <a title="Click to Sign-up" href="/account/register">Sign-up</a></h2>
</div>