/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #blockCar {
    flex-direction: column;
  }
  #infoContainer {
    flex-direction: column-reverse;
    width: 95%;
  }
  #wrapper {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: column;
    border: none;
  }
  #heroImg {
    margin-left: 1px;
    width: 90%;
  }

  .blockInformation {
    width: 95%;
  }
  .reviews {
    width: 95%;
  }
  body {
    flex-direction: column;
    background-image: none;
  }
  #vehicle-display {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .vehicle-block {
    width: 90%;
  }
  .blockAddClass {
    width: 90%;
   }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #heroImg {
    margin-left: 1px;
    width: 90%;
  }
  body {
    flex-direction: column;
    background-image: none;
  }
  .blockInformation {
    width: 95%;
  }
  .reviews {
    width: 95%;
  }
  #wrapper {
    width: 95%;
    flex-direction: column;
  }
  #vehicle-display {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .vehicle-block {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #wrapper {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: column;
    border: none;
  }
  body {
    flex-direction: column;
  }
  #vehicle-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    align-items: center;
  }
  .vehicle-block {
    width: 45%;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    display: flex;
    justify-content: center;
    background-image: url("/images/site/checkerboard.jpg");
  }
  #wrapper {
    width: 70%;
    border: skyblue 4px solid;
    margin: 0 auto;
    margin-top: 30px;
  }
  #vehicle-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    align-items: center;
  }
  .vehicle-block {
    width: 45%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    display: flex;
    justify-content: center;
    background-image: url("/images/site/checkerboard.jpg");
  }
  #wrapper {
    width: 70%;
    border: skyblue 4px solid;
    margin: 0 auto;
    margin-top: 30px;
  }
  #vehicle-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;

  }
  .vehicle-block {
    width: 45%;
  }
}
