* {
  font-size: 12px;
}

body {
  display: flex;
  justify-content: center;
  background-image: url("/images/site/checkerboard.jpg");
}
#wrapper {
  margin-top: 30px;
  width: 70%;
  border: skyblue 4px solid;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: white;
}

.mainBlock {
  background-color: yellow;
  height: 800px;
  display: flex;
}
#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.siteName a {
  font-size: 3rem;
  text-decoration: none;
  color: black;
}
#tools a {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}
/*
    Navigation
*/
#navigation {
  background-color: black;
  height: 2rem;
  width: 100%;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 4px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
}
nav ul li a {
  color: white;
  margin: 1px;
  list-style: none;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
}

/*
    Hero
*/
#hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin: 0 auto;
  margin-top: 5px;
}
#heroTitle {
  grid-column: 1/4;
  grid-row: 1/1;
  z-index: 1;
  font-size: 2.5rem;
}
#blockCar {
  grid-column: 1/3;
  grid-row: 2/3;
  z-index: 1;
  background-color: aqua;
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  opacity: 0.9;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
#blockCar p {
  font-size: 1.2rem;
  color: skyblue;
  text-align: left;
  margin: 0;
}
#blockCar h3 {
  color: skyblue;
  font-size: 1.4rem;
  text-align: left;
  margin-bottom: 0px;
}
#blockCar button {
  margin: 0 auto;
  background-color: skyblue;
  width: 85%;
  justify-content: center;
  margin-top: 10px;
  padding: 15px;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

#heroImg {
  grid-column: 1/4;
  grid-row: 2/3;
  z-index: 0;
  margin: 0 auto;
}

/*
info Reviews
*/
#infoContainer {
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 10px;

  
}
.blockInformation {
  display: flex;
  flex-direction: column;
  width: 45%;
  text-align: left;
}
.blockInformation h3 {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 1.2rem;
}
.blockInformation ul li {
  font-size: 1.2rem;
}
#blockInfo {
  margin-right: 10px;
}
#reviews {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: center;
}
#reviews li {
  font-size: 1.5rem;
}
/*
info Container
*/
#blockInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 45%;
  justify-content: center;
  margin: 0 auto;
}
.littleBlock {
  display: flex;
  flex-direction: column;
  background-color: skyblue;
  height: 70px;
  border: black 1px solid;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.littleBlock img {
  width: 50px;
  height: 50px;
}
.cardBlock p {
  color: skyblue;
  text-align: center;
}
.main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

#inv-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#inv-display li {
  border: lightgray solid 1px;
  margin: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
#inv-display li img {
  width: 200px;
  height: 120px;
  border-radius: 10px;

}
#inv-display li hr {
  width: 200px;
}
#vehicle-class {
  font-size: 2rem;
  font-weight: bold;
}

/*
Detail vehicle card
*/
#vehicle-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  align-items: center;
}
.vehicle-block {
  width: 45%;
}
.vehicle-block h2 {
  font-size: 1.8rem;
  font-weight: bold;
}
.vehicle-block img {
  width: 95%;
}
.price-block {
  background-color: whitesmoke;
  padding: 0.5px;

}
.price-block p b, .price-block p, .price-block span {
  font-size: 1.6rem;
  font-weight: bolder;
  padding-left: 10px;
}
.vehicle-block p b {
  font-size: 1.6rem;
  font-weight: bolder;
}
.vehicle-block p  {
  font-size: 1.3rem;
}


/*
Validations
*/
input:required:invalid, input:focus:invalid {
  background-image: url(../images/site/);
  background-position: right top;
  background-repeat: no-repeat;
 }
  input:required:valid {
  background-image: url(/images/valid.png);
  background-position: right top;
  background-repeat: no-repeat;
  }