<% if (title) { %>
    <h1 id="vehicle-class"><%= title %></h1>
    <% } else {
          res.redirect('/')
        } %>
    <%- buildInventory %>
 <h2>Management Inventory</h2>
 <p>Choose a classification to see those inventory items.</p>

 <%- classificationSelect %>

 <table id="inventoryDisplay"></table>

 <noscript>Javascript must be enable to use this page.</noscript>

 <script src="../../js/inventory.js"></script>
    
    